<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
{% extends 'univesity/universityindex.html' %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/addcourse_post#get-started">
  <table width="200" border="1"class="table table-dark table-hover">
    <tr>
      <td>Department</td>
      <td><select name="select">
        {% for i in data %}
        <option value="{{ i['d_id'] }}">{{ i['department'] }}</option>
        {% endfor %}
      </select></td>
    </tr>
    <tr>
      <td>COURSE</td>
      <td><input type="text" name="textfield" id="textfield" required/></td>
    </tr>
    <tr>
      <td>DURATION</td>
      <td><input type="text" name="textfield2"id="textfield2" required/></td>
    </tr>
    <tr>
      <td>FEES</td>
      <td><input type="text" name="textfield3" id="textfield3" required/></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" name="Submit" value="ADD" />
      </div></td>
    </tr>
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}
