<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
{% extends 'univesity/universityindex.html' %}
{% block body %}

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/adddept1#get-started">
  <table width="276" border="1" class="table table-dark">
    <tr >
      <td width="103">DEPARTMENT</td>
      <td width="103" ><label>
        <input type="text" name="textfield"id="textfield" required pattern="[A-Z a-z.]}" class="btn btn-light"/>
      </label></td>
    </tr>
    <tr align="center">
      <td colspan="3"><label>
        <div align="center">
          <input type="submit" name="Submit" value="ADD" />
          </div>
      </label></td>
    </tr>
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}