<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->

{% extends 'univesity/universityindex.html' %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<!--&lt;!&ndash;<form &lt;!&ndash;id="form1" name="form1" method="post" action="">&ndash;&gt;-->
<!--&lt;!&ndash;<table width="341" border="1">&ndash;&gt;-->
  <!--<tr>-->
    <!--<td width="331"><a href="viewcollege">ADD AND MANAGE COLLEGE</a></td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td><a href="viewdepartment">ADD AND MANAGE DEPARTMENT</a></td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td><a href="viewcourse">ADD AND MANAGE COURSES</a></td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td><a href="viewnotification">ADD AND MANAGE NOTIFICATION</a></td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td><a href="viewproject">VIEW  PROJECT TOPICS</a></td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td><a href="/viewfeedback">VIEW FEEDBACK</a></td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td>-->
        <!--<div align="center"><a href="/logout">LOGOUT</a></div></td>-->
  <!--</tr>-->
<!--</table>-->
<!--</form>&ndash;&gt;-->
</body>
<!--</html>-->
{% endblock %}