<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->

{% extends "colleges/collegeindex.html "%}
{% block body %}

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="workassigned#get-started">
  <table width="200" border="1" class="table">
    <tr class="table-success">
      <td>SE NO </td>
      <td>TOPIC</td>
      <td>TEACHERS</td>
      <td>ASSIGNED DATE </td>
    </tr>
    {% for i in data %}
    <tr>
      <td>{{ loop.index}}</td>
      <td>&nbsp;{{ i['topic']}}</td>
      <td>&nbsp;{{ i['firstname']}} {{ i['lastname']}}</td>
      <td>{{ i['date']}}</td>
    </tr>
    {% endfor %}
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}